<div class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">SPORTS STORE</a>
</div>
<div class="p-1">

  <h1>Title {{title}}</h1>

  <table class="table table-sm table-striped" datatable [dtOptions]="dtOptions">
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody *ngIf="products?.length != 0">
      <tr *ngFor="let product of products">
        <td>{{product.name}}</td>
        <td>{{product.category}}</td>
        <td>{{product.price}}</td>
      </tr>
    </tbody>
    <tbody *ngIf="products?.length == 0">
      <tr>
        <td colspan="3" class="no-data-available">No data!</td>
      </tr>
    <tbody>
  </table>

</div>

